@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-light-1 dark:bg-dark-1 text-dark-1 dark:text-light-1 font-text;
  transition: background-color 0.3s ease-in-out, color 0.3 ease-in-out;
}

*::-webkit-scrollbar {
  display: none;
}